.mg__button {
    margin: 0;
    padding: 5px;
    font-family: $font-family--primary;
    font-size: $font-size--small;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    cursor: pointer;
    &.selected {
        border: 3px solid $color--yellow;
    }
}

.mg__button--action {    
    color: $color--white;    
    background: $color--green;
}

.mg__button--info {
    color: $color--white;
    background: $color--blue;
}

.mg__button--cancel {
    color: $color--white;
    background: $color--red;
}

.mg__button--disabled {
    color: $color--white;
    background: $color--ltgrey;
}