/** 
 *  Styles config section
 */

// Fonts

$font-family--primary : 'Roboto Slab', serif;

$font-size--small : 14px;
$font-size--medium : 18px;
$font-size--large : 24px;

// Colors

// Grey variations
$color--dkgrey : rgb(40,40,40);
$color--grey : rgb(120,120,120);
$color--ltgrey : rgb(180,180,180);
$color--xltgrey : rgb(220, 220, 220);

// Blue variations
$color--blue : rgb(40,170,220);
$color--ltblue : lighten($color--blue, 30%);
$color--dkblue : darken($color--blue, 30%);

// Red variations
$color--red : rgb(255,60,80);
$color--dkred : darken($color--red, 20%);
$color--xdkred : darken($color--red, 40%);

$color--green : rgb(40, 200, 80);

$color--yellow : rgb(230, 230, 30);

$color--white : rgb(255,255,255);

// Animations

$card-transition-time--short : 0.5s;
$card-transition-time--normal : 1.0s;

// Chars shortcuts

$char--up-arrow : "\25B2";
$char--down-arrow : "\25BC";

/** 
 *  Sizes of game field
 *  To add new sizes you must save the square ratio and use even size dimensions, e.g. 4*4 
 */

$sizes : (
  // 4 * 4
  16 : 16,
  // 6 * 6
  36 : 36,
  // 8 * 8
  64 : 64
);