.mg {
    margin-left: auto;
    margin-right: auto;
}

.mg__menu,
.mg__game,
.mg__win,
.mg__scores {
    background-color: $color--white;
}

.mg__menu-line--centered,
.mg__game-line--centered,
.mg__win-line--centered,
.mg__scores-line--centered {
    text-align: center;
    padding: 10px;
}

.mg__menu-line-item {
    display: inline-block;
    vertical-align: top;
}

.mg__game-line-item,
.mg__scores-line-item {
    display: inline-block;
    vertical-align: center;
    padding: 5px;
}

.mg__menu-heading,
.mg__win-heading,
.mg__scores-heading {
    margin-bottom: 10px;
    color: $color--dkgrey;
    font-size: $font-size--large;
}

.mg__menu-sub-heading,
.mg__win-sub-heading {
    font-size: $font-size--medium;
    margin-top: 0px;
    margin-bottom: 10px;
    color: $color--blue;
    &::before,
    &::after {
        margin: 0 5px;
        content: "-";
    }
}
  
.mg__menu-text,
.mg__win-text {
    margin-bottom: 5px;
}
 
.mg__menu-size-select,
.mg__menu-skin-select {
    list-style: none;
    margin: 0;
    padding: 0;
    span {
        color: $color--red;
        font-size: $font-size--medium;
        cursor: pointer;
        &.selected {
            color: $color--xdkred;
        }
        &:hover {
            color: $color--dkred;
        }
    }
}

.mg__game-clicks,
.mg__game-time {
    margin-left: -10px;
    margin-right: 10px;
    color: $color--dkgrey;
}

.mg__game-time::after {
    margin: 0 5px;
    content: "c.";
}

.mg__win-input {
    border: 2px solid $color--green;
    border-radius: 3px;
    padding: 3px;
    font-family: $font-family--primary;
    font-size: $font-size--small;
}

.mg__scores-table table {
    border-collapse: collapse;
    border-left: 3px solid $color--blue;
    border-right: 3px solid $color--blue;
    border-bottom: 3px solid $color--blue;
    margin-left: auto;
    margin-right: auto;
    thead {
        color: $color--white;
        background: $color--blue;
        td {
            padding: 5px 5px 5px 20px;
            &:hover {
                background: $color--dkblue;
            }
            &::after {
                padding: 0px 0px 0px 18px;
                content: " ";
            }
            &.selected--plus::after  { 
                content: $char--up-arrow;
                padding: 0px;
            }
            &.selected--minus::after  {               
                content: $char--down-arrow;
                padding: 0px;
            } 
        }
    }
    tbody {
        tr:nth-child(2n) {
            background: $color--ltblue;
        }    

        tr td.wide {
            padding: 10px;
        }
    }
}