@import "_config";
@import "_screens";
@import "_card";
@import "_button";

body,
html {
    height: 100%;
}

body {
    color: $color--grey;
    background-color: $color--blue;
    font-family: $font-family--primary;
    font-size: $font-size--medium;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    max-width: 1024px;
    min-width: 480px;
    margin: auto;
}